<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <% if @effect == 0 %>
        <%= image_tag @pin.image.url %>
        <% elsif @effect == 1 %>
        <div class="grey">
        <%= image_tag @pin.image.url %>
        </div>
        <% elsif @effect == 2 %>
        <div class="blur">
        <%= image_tag @pin.image.url %>
        </div>
        <% end %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
        <ul class="nav nav-pills pull-right">
          <li><%= link_to "Default", pin_path(@pin), class: "btn btn-default" %></li>
          <li class="active"><%= link_to "Grey", grey_pin_path(@pin), class: "btn btn-default" %></li>
          <li><%= link_to "Blur", blur_pin_path(@pin), class: "btn btn-default" %></li>
          <li ><%= link_to "Contrast", contrast_pin_path(@pin), class: "btn btn-default" %></li>
        </ul>
      </div>
      <%= render 'pinfooter' %>
  </div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h2 align="center"> Comments </h2>
			<hr>
			<% @comments.each do |comment| %>
			<div>
				<% if User.find(comment.user_id).avatar? %>
        <a href="/users/<%=User.find(comment.user_id).id%>">
				<image> <span><%= image_tag User.find(comment.user_id).avatar.url(:comment) %></span> </image>
				<% end %>
				<small><%= User.find(comment.user_id).FirstName %></small>
				<small><%= User.find(comment.user_id).LastName %></small>
      </a>

			<span><%= comment.content %></span>
			<div class="pull-right">
			<% if user_signed_in? && current_user.id == comment.user_id%>
				<%= link_to "Edit", edit_pin_comment_path(@pin.id,comment.id), class: "btn btn-default" %>
				<%= link_to "Delete", pin_comment_path(@pin.id,comment.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
			<% end %>
			</div>
			</div>
			<hr>
			<% end %>
			<br>
			<%= render 'comments/form' %>
		</div>
</div>
  </div>
</div>
