<div class="row">
    <h1 align="middle"> My Page </h1>
    <div class="col-md-3 col-sm-12">
      <% if @user.avatar? %>
      <image> <%=image_tag @user.avatar.url(:profile) %> </image>
      <% end %>
        <h3><%=@user.FirstName%> <%=@user.LastName%></h3>
          <p><%=@user.Bio%></p>
        <% if current_user.id == @user.id %>
        <a href="/users/<%=@user.id%>/edit" class="btn btn-default">Edit Profile</a>
        <br>
        <div>
          <div> Following </div>
          <% @user.friendships.each do |friendship| %>
              <div class="caption">
                <a href="/users/<%=friendship.friend.id%>">
                  <image> <%=image_tag friendship.friend.avatar.url(:comment) %> </image>
                  <span><%=friendship.friend.FirstName%> <%=friendship.friend.LastName%></span>
                  <%= link_to "Unfollow", friendship, :method => :delete %>
                </a>
              </div>
          <% end %>
        </div>
        <% end %>
        <% if (current_user.friendships.where(:friend_id => @user.id).where(:user_id => current_user.id).empty? and !(@user == current_user))%>
  <%=link_to "Follow", friendships_path(:friend_id => @user.id), :method => :post %>
<%else %>
<%end%>
    </div>

    <div class="col-md-9 col-sm-12">
      <%= render 'albums/form' %>

    <div class="transitions-enabled col-md-9" id="pins">
    <% @albums.each do |album| %>
      <a href="/users/<%=@user.id%>/albums/<%=album.id%>"><h2> <%=album.title %> </h2></a>

    <% end %>
  </div>

</div>


</div>
